demo/recognize-text-file-system-image-demo/src/main/app/recognize-text-file-system-image-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:watson-visual-recognition="http://www.mulesoft.org/schema/mule/watson-visual-recognition" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/watson-visual-recognition http://www.mulesoft.org/schema/mule/watson-visual-recognition/current/mule-watson-visual-recognition.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <watson-visual-recognition:config name="Watson_Visual_Recognition__Configuration" apiKey="${watson.apikey}" doc:name="Watson Visual Recognition: Configuration"/>
    <file:connector name="File" streaming="true" validateConnections="true" doc:name="File"/>
    <flow name="ExtractTextFromInvoicesFlow">
        <file:inbound-endpoint path="invoices/input" moveToDirectory="invoices/output"  responseTimeout="10000" doc:name="File" connector-ref="File"/>
        <set-variable variableName="file" value="#[payload]" doc:name="Set File"/>
        <dw:transform-message metadata:id="16850ab3-fa70-47a1-ac9b-53db3caa38d2" doc:name="Build Request">
            <dw:input-payload/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	image: payload
} as :object {
	class : "org.mule.modules.watsonvisualrecognition.model.ImageRequest"
}]]></dw:set-payload>
        </dw:transform-message>
        <watson-visual-recognition:recognize-text config-ref="Watson_Visual_Recognition__Configuration" doc:name="Extract Text"/>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
        <dw:transform-message doc:name="Generate Response">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	file: flowVars.file,
	text: payload.images[0].text
}]]></dw:set-payload>
        </dw:transform-message>
        <flow-ref name="SaveInManagementSystem" doc:name="SaveInManagementSystem"/>
    </flow>
    <sub-flow name="SaveInManagementSystem">
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
    </sub-flow>
</mule>
