demo/Watson Visual Recognition Connector Demo/src/main/app/demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:watson-visual-recognition="http://www.mulesoft.org/schema/mule/watson-visual-recognition" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/watson-visual-recognition http://www.mulesoft.org/schema/mule/watson-visual-recognition/current/mule-watson-visual-recognition.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <watson-visual-recognition:watson-visual-config name="Watson_Visual_Recognition__Configuration" apiKey="${watson.apikey}" doc:name="Watson Visual Recognition: Configuration"/>
    <flow name="ClassifyImageFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/classify" allowedMethods="GET" doc:name="HTTP"/>
        <watson-visual-recognition:classify-image config-ref="Watson_Visual_Recognition__Configuration" url="#[message.inboundProperties.'http.query.params'.url]" doc:name="Classify the Image"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="DetectFacesFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/detectfaces" allowedMethods="GET" doc:name="HTTP"/>
        <watson-visual-recognition:detect-faces config-ref="Watson_Visual_Recognition__Configuration" url="#[message.inboundProperties.'http.query.params'.url]" doc:name="Detect Faces in the Image"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="RecognizeTextFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/recognizetext" allowedMethods="GET" doc:name="HTTP"/>
        <watson-visual-recognition:recognize-text config-ref="Watson_Visual_Recognition__Configuration" url="#[message.inboundProperties.'http.query.params'.url]" doc:name="Recognize Text in the Image"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
